@import "/styles/Home.module.scss";

.root {
  position: relative;
  width: 100%;
  height: 45vh;
  overflow-y: hidden;

  @include desktop {
    height: 100vh;
  }
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.keen-slider__slide {
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.keen-slider {
  height: 100%;
  overflow-y: hidden;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.leftControl,
.rightControl {
  position: absolute;
  background-color: green;
  top: 50%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  z-index: 20;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.leftControl {
  background-size: cover;
  left: 64px;
}

.rightControl {
  background-size: cover;
  right: 64px;
}

.control {
  opacity: 0;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
