@import "/styles/Home.module.scss";
.root {
  position: fixed;
  inset: 0;
  overflow: hidden;
  height: 100%;
  z-index: 2;
  .sideNavChild {
    position: absolute;
    inset: 0;
    overflow: hidden;

    .sideNavClose {
      position: absolute;
      inset: 0;
      background-color: $black-color;
      opacity: 50%;
    }

    .layoutLeft {
      position: absolute;
      max-width: 100%;
      height: 100vh;
      display: flex;
      background-color: $background-green-color;
      top: 0;
      bottom: 0;
      left: 0;
    }
    .layoutRight {
      position: absolute;
      max-width: 100%;
      height: 100vh;
      display: flex;
      background-color: $background-blue-color;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }

  .sideNavSectionContainer {
    height: 100%;
    width: 100vh;
    max-width: 480px;

    .sideNavSectionContainerDiv {
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
      --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
        0 8px 10px -6px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
  }
}
