@import "/styles/Home.module.scss";

.accordionItem {
  width: 100%;
  max-height: 20px;
  padding: 16px;
  border-top: 1.5px solid $dark-green-color;
  overflow: hidden;
  cursor: pointer;

  &:last-child {
    border-bottom: 1.5px solid $dark-green-color;
  }
}

.accordionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 2px;

  i {
    transition: 0.2s ease-in-out;
    transform-origin: center;
  }
}
