@import "/styles/Home.module.scss";

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .cartItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding-top: 20px;
    height: 100px;
    align-items: center;
  }

  .cartItemCurrency {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding-top: 20px;
    height: 100px;
    align-items: center;
  }
}

.cartItemInfoButtons {
  display: flex;

  input {
    width: 24px;
    border: none;
    color: white;
    background-color: $dark-green-color;
    font-weight: bold;
    text-align: center;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
  button {
    height: 26px;
    &:nth-child(1) {
      border-radius: 5px 0 0 5px;
    }

    &:nth-child(3) {
      border-radius: 0 5px 5px 0;
    }
  }
}
