@import "/styles/Home.module.scss";

.root {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  display: flex;
  border-left: 2px solid $dark-green-color;
  border-right: 2px solid $dark-green-color;
  align-items: center;
  text-align: center;
  margin: auto;
  transition: 0.3s;
  cursor: pointer;
  max-width: 1600px;
  h4 {
    color: $dark-green-color;
    width: 100%;
  }
  &:hover {
    box-sizing: border-box;
    transition: 0.3s;
    background-color: $light-green-color;
    border: 0px;
    h4 {
      color: $white-color !important;
    }
  }
}

.layoutTop {
  border-top: 2px solid $dark-green-color;
}

.layoutBottom {
  border-bottom: 2px solid $dark-green-color;
}
